/* Custom styles for Insper Machine Learning Group site */

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

header#home {
  background: linear-gradient(90deg, #0d6efd22 0%, #6610f422 100%);
}

.card img {
  object-fit: cover;
}

footer a {
  text-decoration: none;
}
